/* visualizador.css */

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden; /* Limpiar el contenido flotante interno */
}

.imagen-receta {
    max-width: 350px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.detalles-receta2 {
    display: flex;
    flex-direction:column; /* Cambiar a diseño de columna para mejorar la apariencia */
    margin-bottom: 10px;
    overflow: hidden; /* Para limpiar el flotante de la imagen */
}

.receta-info {
    color: black;
}

.seccion {
    border: 1px solid coral;
    background-color: coral;
    text-align: center;
    font-size: 20px;
    color: white; /* Ajustar el color del texto en la sección */
    margin-top: 0; /* Ajustar el margen superior para alinearlo mejor */
    padding: 10px; /* Añadir relleno para mejorar la apariencia */
}

/* Estilos específicos para las etiquetas i */
.receta-info i {
    color: coral;
}

/* Sugerencias */

.recetas-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.receta-box {
    border: 1px solid coral;
    padding: 20px;
    margin: 20px;
    width: 300px;
    max-width: 100%;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    height: 200px; /* Ajustar el alto del cuadro */
}

.detalles-receta {
    display: flex;/* Cambiar a diseño de columna para mejorar la apariencia */
    margin-bottom: 10px;
}

.detalles-receta p {
    margin: 2px 0; /* Ajustar el valor según tus necesidades */
}
.button-container {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 10px;
}

button {
    background-color: coral;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

 /* Tachar elementos de la lista*/

 ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom:5px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px; /* Tamaño del círculo más pequeño */
    height: 18px;
    border-radius: 50%;
    border: 2px solid #4CAF50; /* Borde verde */
    background-color: #FFFFFF; /* Fondo blanco */
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50; /* Fondo verde cuando el checkbox está marcado */
}

label {
    cursor: pointer;
    transition: color 0.3s;
}

input[type="checkbox"] + label {
    text-decoration: none;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}

input[type="checkbox"] + label, input[type="checkbox"]:checked + label {
    transition: text-decoration 0.3s;
}

/*simbolo home*/
.home-link {
    position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    z-index: 9999; /* Asegura que esté en la parte superior */
}

.home-icon {
    display: block;
    /* Agrega otros estilos según sea necesario */
}

/*boton de regreso*/
.back-link {
    position: fixed;
    top: 21px;
    left: 60px;
    z-index: 9999;
}

.back-icon {
    display: block;
}